
@{
    ViewData["Title"] = "RDocNApr";
}

<div id="Splash_Screen_Load" style="display: none"></div>
<div class="row" style="margin-top: 15vh;">
    <div class="col-md-12 mb-3">
        <div class="col-md-9 mt-2 mb-2">
            <img class="imgNextToTitle" alt="Button to open menu" src="~/Img/Open_Menu.svg" width="47" onclick="OpenHideMenu(true)">

            <h4 class="color_orange text-shadow">
                Reporte Documentacion No Aprovada
                <a href="#" id="LinkReport" download target="_blank" style="visibility:hidden">content</a>
            </h4>
        </div>
    </div>
</div>

<div class="row mt-2">
    <label class="col-md-12">
        Rango de fechas
    </label>
    <div class="col-md-6">
        <input type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" id="DateInicio" />
    </div>
    <div class="col-md-6">
        <input type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" id="DateFin" />
    </div>
    <div class="col-md-12 mt-3">
        <label>
            Cliente
        </label>
        <div>
            <input type="hidden" required class="form-control inputText_NoBorder inputHeight" name="Cliente_Id" id="Cliente_Id" placeholder="Codigo" />
            <input type="text" required onclick="ClientList()" readonly data-toggle="modal" data-target="#ModalSearchCliente" class="form-control inputText_NoBorder inputHeight" name="Cliente_name" id="Cliente_name" placeholder="Nombre" />
        </div>
    </div>
    <div class="col-md-5"></div>
    <div class="col-md-7 col-sm-12 mt-3">
        <input type="button" class="btn btn-light TextNegrita border-radius New_OT btn_save_color disable" value="Generar Reporte" id="Btn_GenReport" onclick="GenExcelDocNoAprov()" />
    </div>
</div>

<div class="modal fade" id="ModalSearchCliente" tabindex="-1" role="dialog" aria-labelledby="SearchCliente" aria-hidden="true" style="padding-left: 0px !important
">
    <div class="modal-dialog modal-lg" style="height:45vh;width:100%">
        <input type="button" class="btn btn-danger float-right" value="Cerrar" />
        <div class="modal-content" style="padding:20px 20px;height:88vh;overflow-y:auto;background-color: white;">
            <div class="form-group pull-right">
                <input type="text" class="search form-control" readonly onkeyup="search()" id="filtroCliente" placeholder="Filtrar Cliente">
            </div>
            <h4 class="load">CARGANDO...</h4>
            <span class="counter pull-right"></span>
            <table class="table table-hover table-bordered results">
                <thead>
                    <tr>
                        <th class="text-center">Codigo</th>
                        <th class="text-center">Nombre</th>
                    </tr>
                    <tr class="warning no-result">
                        <td colspan="4"><i class="fa fa-warning"></i>El cliente no se encuentra registrado</td>
                    </tr>
                </thead>
                <tbody id="table_data"></tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/OrdenTrabajo.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/js/Reportes.js" type="text/javascript" asp-append-version="true"></script>
    <script>
        function search() {
            var searchTerm = $(".search").val();

            var searchSplit = searchTerm.replace(/ /g, "'):containsi('")

            $.extend($.expr[':'], {
                'containsi': function (elem, i, match, array) {
                    return (elem.textContent || elem.innerText || '').toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
                }
            });

            $(".results tbody tr").not(":containsi('" + searchSplit + "')").each(function (e) {
                $(this).attr('visible', 'false');
            });

            $(".results tbody tr:containsi('" + searchSplit + "')").each(function (e) {
                $(this).attr('visible', 'true');
            });

            var jobCount = $('.results tbody tr[visible="true"]').length;
            $('.counter').text(jobCount + ' item');

            if (jobCount == '0') { $('.no-result').show(); }
            else { $('.no-result').hide(); }
        }
    </script>
}