
@{
    ViewData["Title"] = "Calendar";
    List<int> rolUsuList = new List<int>();
    foreach (var identities in User.Identities.ToList())
    {
        for (int i = 2; i < identities.Claims.Count(); i++)
        {
            rolUsuList.Add(Convert.ToInt32(identities.Claims.ElementAt(i).Value));
        }
    }
}

<div id="Splash_Screen_Load" style="display: none"></div>

<div id="calender" style="margin-bottom: 13vh;"></div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Volver al calendario
                </button>

                <button type="button" id="btnclick" class="btn btn-light TextNegrita float-right border-radius New_OT">
                    Realizar Tarea
                </button>
            </div>
        </div>
    </div>
</div>

<div id="myModalSave" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 7vh; box-shadow: 1em 1em 11.3em rgba(255, 143, 46, 0.94);">
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <h4 class="TextNegrita text-center text-shadow">Datos</h4>
                    </div>
                    <div class="form-group">
                        <label>Fecha de Inicio</label>
                        @*<input type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" min="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control col-md-12" id="dtp1" />*@
                        <div class="input-group date" id="dtp1" data-target-input="nearest">
                            <input type="text" readonly class="form-control datetimepicker-input" data-target="#dtp1" id="txtStart" />
                            <div class="input-group-append" data-target="#dtp1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                        <label>Dias de porroga</label>
                        <input type="text" value="1" min="1" class="form-control col-md-12 validanumericos" id="DiasPg" />

                    </div>
                    <div class="form-group">
                        <label>Proceso</label>
                        <select class="form-control" id="slt_Proceso" onchange="loadSltActividad(this.value)">
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Actividad</label>
                        <select class="form-control" id="slt_Actividad" onchange="loadSltTarea(this.value, true)">
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Tarea</label>
                        <select class="form-control" id="slt_Tarea">
                        </select>
                    </div>
                    <div class="form-group" id="loadDocument" style="display:none">
                        <label>Cargar Documento</label>
                        <input type="file" name="imagensubida" class="form-control" accept=".pdf, .docx, .xls">
                    </div>
                    <div class="modal-footer" id="divBtn">
                        <button type="button" onclick="SaveNewProgTask()" id="btnSave" class="btn btn-success btn_save_color disable" style="color:black">Guardar</button>
                        <button type="button" onclick="SaveTask()" id="btnSaveDocument" class="btn btn-success btn_save_color" style="color:black;display:none">Guardar</button>
                        <button type="button" class="btn btn-danger btn_cancel disable" data-dismiss="modal">
                            Cerrar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalConfirmation" tabindex="-1" role="dialog" aria-labelledby="ModalConfirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reprogramar Tarea</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>La tarea se encuentra actualmente vencida para su realizacion.</p>
                <p>¿Solicitar la reprogramacion de la tarea?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary">Si</button>
            </div>
        </div>
    </div>
</div>

<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script src="~/js/Calidad.js" type="text/javascript" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            var arrayRolusu = [];
            @foreach (var itemLista in rolUsuList)
	        {
                @:arrayRolusu.push(@itemLista);
	        }

            LoadCalendar(arrayRolusu);
        })
    </script>
}